#netforum_intro_text {
  padding: 2em 0;
}
#netforum_buttons_wrapper {
  margin: 1em 0 2em 0;
}
#netforum_buttons_wrapper button {}
#netforum_message {
  padding: 1em 3em;
}
#netforum_cache_table {}
#netforum_cache_table caption {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}
#netforum_cache_table .col1 {
  width: 15em;
}
#netforum_cache_table .col2,
#netforum_cache_table .col3 {
  width: 5em;
}
#netforum_cache_table .col4 {
  padding-left: 5em;
  width: 25em;
}
#netforum_cache_table .col5 {
  color: #080;
}
